/* ProductList.css */

.catalog-title-list {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: #333;
}

.product-list-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
}

.product-item-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.product-item-list:hover {
    transform: scale(1.02);
}

.product-image-list img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-info-list {
    padding: 10px;
}

.product-name-list {
    font-size: 1.2rem;
    margin: 0 0 10px;
}

.product-description-list {
    font-size: 0.9rem;
    color: #666;
    margin: 0 0 10px;
}

.product-price-list {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.loading, .error {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}
.newArrivals {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 17s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }