/* Root.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .root-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .content-wrap {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
  }
 